<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>170967434178-2evt15nb785g9nm4e0l91qjlovvr9de0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170967434178-2evt15nb785g9nm4e0l91qjlovvr9de0</string>
	<key>API_KEY</key>
	<string>AIzaSyBu8x2YTBOwx0BAwBwx7zu06hmcQE__2vI</string>
	<key>GCM_SENDER_ID</key>
	<string>170967434178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Y.Y-Admin</string>
	<key>PROJECT_ID</key>
	<string>yproject-d8247</string>
	<key>STORAGE_BUCKET</key>
	<string>yproject-d8247.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170967434178:ios:d74f6445496f1ee5</string>
	<key>DATABASE_URL</key>
	<string>https://yproject-d8247.firebaseio.com</string>
</dict>
</plist>