<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>754529537193-i1cn4di8kvp4tut2d9sfp3f71g3p67qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754529537193-i1cn4di8kvp4tut2d9sfp3f71g3p67qp</string>
	<key>API_KEY</key>
	<string>AIzaSyALHhSpSP4KFGXrTgMbPUq7oeoxZ-98O5k</string>
	<key>GCM_SENDER_ID</key>
	<string>754529537193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Y.atticYAdmin</string>
	<key>PROJECT_ID</key>
	<string>atticyadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>atticyadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754529537193:ios:80f6093526ac91dd</string>
	<key>DATABASE_URL</key>
	<string>https://atticyadmin.firebaseio.com</string>
</dict>
</plist>